---
import { Icon, LinkCard, CardGrid } from "@astrojs/starlight/components";

const data: { name: string; browser_download_url: string }[] = await fetch(
  "https://api.github.com/repos/Sonar-team/Sonar_desktop_app/releases/latest"
)
.then((data) => data.json())
.then((data) => data.assets)
.then((data) =>
  data.filter(
    ({ name }: { name: string }) =>
      name.endsWith(".AppImage") ||
      name.endsWith(".deb") ||
      name.includes("_x64-setup.exe") ||
      name.endsWith("_x64.dmg") ||
      name.endsWith("_x64_fr-FR.msi") ||
      name.endsWith(".rpm") ||
      name.endsWith(".app.tar.gz")
  )
);
---
  <>
    <h2 style={{ display: "flex" }}>
      <span style={{ marginLeft: "12px" }}>🖥️ Windows</span>
    </h2>
    <CardGrid>
      <LinkCard
        title="👁️ Dépendance Npcap"
        description="⚠️⚠️ Installation requise : Npcap est nécessaire ⚠️⚠️"
        href="https://npcap.com/dist/npcap-1.81.exe"
      />
      <LinkCard
        title="🚀 Windows Setup (.exe)"
        description="Télécharger l'installateur pour Windows"
        href={data.find(({ name }) => name.includes("_x64-setup.exe"))?.browser_download_url}
      />

      <LinkCard
        title="💿 Windows MSI (.msi)"
        description="Installer via MSI pour Windows (nécessite une post-installation en ligne)"
        href={data.find(({ name }) => name.endsWith("_x64_fr-FR.msi"))?.browser_download_url}
      />
    </CardGrid>

    <h2 style={{ display: "flex" }}>
      <span style={{ marginLeft: "12px" }}>🐧 Linux</span>
    </h2>
    <CardGrid>
      <LinkCard
        title="📦 Debian Binary (.deb)"
        description="Binary pour Debian, Ubuntu, et autres distributions basées sur Debian"
        href={data.find(({ name }) => name.endsWith(".deb"))?.browser_download_url}
      />

      <LinkCard
        title="📀 Linux AppImage"
        description="AppImage pour Linux"
        href={data.find(({ name }) => name.endsWith(".AppImage"))?.browser_download_url}
      />
      <LinkCard
      title="🎩 Linux Binary(rpm)"
      description="Binary pour fedora et autres distributions basées sur Red hat"
      href={data.find(({ name }) => name.endsWith(".rpm"))?.browser_download_url}
    />
    </CardGrid>

    <h2 style={{ display: "flex" }}>
      <span style={{ marginLeft: "12px" }}>🍏 MacOS</span>
    </h2>
    <CardGrid>
      <LinkCard
        title="🍏 MacOS (.dmg)"
        description="Télécharger l'installateur pour MacOS"
        href={data.find(({ name }) => name.endsWith("_x64.dmg"))?.browser_download_url}
      />

      <LinkCard
        title="📦 MacOS Tarball (.tar.gz)"
        description="Tarball pour MacOS"
        href={data.find(({ name }) => name.endsWith(".app.tar.gz"))?.browser_download_url}
      />
    </CardGrid>
  </>

